/*--- John McCutchan---*/


/*--- Structure ---*/
.container{
	width: 80%;
	margin: 0 auto;
}




/*--- Structure END ---*/





/*--- Skins ---*/
body{
	font-family: arial;
}





/*--- Skins END ---*/