/*--- John McCutchan---*/


/*--- Structure ---*/
.container{
	width: 80%;
	margin: 0 auto;
}
button{
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 10px;
}


/*--- Structure END ---*/





/*--- Skins ---*/
body{
	font-family: arial;
}
h1{
	color: rgba(44, 62, 80, 1);
}
button{
	background-color: rgba(44, 62, 80, 1);
	color:rgba(255, 255, 255, 1);
}



/*--- Skins END ---*/