/* --- John McCutchan --- */
/* --- Mobile First --- */

/* --- Basic styles --- */

html{
	margin: 0;
	padding: 0;
}
body{
	font-family: arial;
	background-color: #000;
	box-sizing: border-box;
}
.container{
	background-color: #fff;
}

h1{
	text-align: center;
	padding-top: 20px;
}
p {
	text-align: justify;
}
.card_holder{
	width: 100%;
}
.card{
	border: 1px solid lightblue;
	width: 100%;
}
.title{
	border: 1px dotted lightgray;
}
section h4 {
	background-color: darkgray;
	color: yellow;
}
.clearfix {
	clear: both;
}

/* --- Break points --- */

/* --- iPad Width --- */
@media screen and (min-width: 480px){
	.card {
		width:30%;
		display: block;
		float: left;
	}
}

/* --- PC Width --- */
@media screen and (min-width: 660px){

	
}