/* --- John McCutchan --- */
/* --- Mobile First --- */

/* --- Basic styles --- */

html{
	margin: 0;
	padding: 0;
}
body{
	font-family: arial;
	background-color: #000;
	box-sizing: border-box;
}
.container{
	background-color: rgba(41, 128, 185,1.0);
}

h1{
	text-align: center;
	padding-top: 20px;
	color: #fff;
}
p {
	text-align: justify;
}
h2, h4, p, header, footer {
	padding: 0 10px;
}
li {
	font-weight: bold;
}
footer {
	font-size: .7em;
}
.card_holder{
	width: 100%;
}
.card{
	border: 1px solid lightblue;
	border-radius: 2%;
	background-color: #fff;
	width: 96%;
	margin: 2%;
}
.title{
	border: 1px dotted lightgray;
	border-radius: 2%;
}
section h4 {
	background-color: darkgray;
	color: yellow;
}
img {
	width: 100%;
	height: auto;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* --- Break points --- */

/* --- iPad Width --- */
@media screen and (min-width: 520px){
	.card {
		width:45%;
		display: block;
		float: left;
		height: 820px;
	}
}

/* --- PC Width --- */
@media screen and (min-width: 850px){
	.card {
		width:29%;
		height: 850px;
	}
	
}