/* --- John McCutchan --- */
/* --- Mobile First --- */

/* --- Basic styles --- */

html{}
body{
	font-family: arial;
	width: 100%;
	background-color: #000;
	box-sizing: border-box;
}
.container{
	width: 100%;
	background-color: #fff;
}
.card_holder{
	display: flex;
	align-items: flex-start;
}
h1{
	text-align: center;
	padding-top: 20px;
}
.card{
	border: 1px solid lightblue;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}
.title{
	border: 1px dotted lightgray;
}
section h4 {
	background-color: darkgray;
	color: yellow;
}

.clearfix {
	clear:both;
}

/* --- Break points --- */

/* --- iPad Width --- */
@media screen and (min-width: 480px){

	.card {
		width: 40%;
		margin: auto;
	}
	.container{
		width: 90%;
		margin: 0 auto;
	}
}

/* --- PC Width --- */
@media screen and (min-width: 660px){

	.card {
		width: 30%;
		margin-left: 15px;
	}
}