/* ---John McCutchan --- */
/* --- Mobile First --- */

/* --- Basic Styles --- */

html {}
body {
	background-color: black;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: arial;
}
.container{
	background-color: white;
	width:100%;
	margin: 0 auto;
	padding: 20px;
}
#formMain {}
h1{
	text-align: center;
}
form {}
.float{
	float:left;
}
button{
	background-color: #2980b9;
	color: white;
	border-radius: 15px;
}

/* --- iPad Width --- */
@media screen and (min-width: 480px){

	.container {
		width: 70%;
	}
}

/* --- PC Width --- */
@media screen and (min-width: 660px){

	.container {
		max-width: 600px;
	}
}