/* --- 

    View source is a feature, not a bug. Thanks for your curiosity and
	interest in participating!

	Here are the submission guidelines for the new and improved csszengarden.com:

	- CSS3? Of course! Prefix for ALL browsers where necessary.
	- go responsive; test your layout at multiple screen sizes.
	- your browser testing baseline: IE9+, recent Chrome/Firefox/Safari, and iOS/Android
	- Graceful degradation is acceptable, and in fact highly encouraged.
	- use classes for styling. Don't use ids.
	- web fonts are cool, just make sure you have a license to share the files. Hosted 
	  services that are applied via the CSS file (ie. Google Fonts) will work fine, but
	  most that require custom HTML won't. TypeKit is supported, see the readme on this
	  page for usage instructions: https://github.com/mezzoblue/csszengarden.com/

	And a few tips on building your CSS file:

	- use :first-child, :last-child and :nth-child to get at non-classed elements
	- use ::before and ::after to create pseudo-elements for extra styling
	- use multiple background images to apply as many as you need to any element
	- use the Kellum Method for image replacement, if still needed. http://goo.gl/GXxdI
	- don't rely on the extra divs at the bottom. Use ::before and ::after instead.

--- */
/* --- John McCutchan --- */
/* --- Mobile First--- */


/* --- Basic Styles --- */

@font-face {
  font-family: 'HeaderFont';
  src: url('fonts/metro-webfont.woff2') format('woff2'),
       url('fonts/metro-webfont.woff') format('woff');
}

html{}
body{
	margin: 0;
	padding: 0;
	background-color: #000;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1em;
	background-color:rgba(236, 240, 241,1.0);
    background-image: url("images/dark-forrest.png");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* --- Parallax Image Background --- */
.page-wrapper{
	width:100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color:rgba(211, 84, 0,0.8);
}
header{
    border-left: 150px solid rgba(211, 84, 0,0.5);
    border-right: 100px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 100px solid transparent;
    transform: rotate(0deg);
}
h1{
	font-family: headerFont;
	font-size: 1.8em;
	margin-left: 20px;
	color: rgba(255, 255, 255, 0.5);
}
h2{
	margin-left: 20px;
	color: rgba(255, 255, 255, 0.8);
}
h3{
	color:rgba(211, 84, 0,0.8);
}
#zen-summary{
	color: rgba(255, 255, 255, 0.6);
	margin-top: 150px;
	padding: 5px 20px;
}
#zen-preamble{
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(24, 24, 21, .7);
	margin-top: 150px;
	padding: 5px 20px;
}
#zen-explanation{
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(24, 24, 21, .7);
	margin-top: 150px;
	padding: 5px 20px;
}
#zen-participation,#zen-benefits, 
#zen-requirements, footer{
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(24, 24, 21, .7);
	margin-top: 150px;
	padding: 5px 20px;
}
.sidebar{
	color: rgba(255, 255, 255, 0.6);
	background-color: rgba(24, 24, 21, .4);
	margin-top: 150px;
	padding: 5px 20px;
}
.sidebar:after{
	content: "";
  	display: table;
  	clear: both;
}

/* ------------------ end  ------------------ */


/* --- Break Points --- */

/* --- smartphone landscape mode --- */

@media screen and (min-width: 480px){

	#design-selection{
		width:50%;
		float:left;
	}
	#design-archives,
	#zen-resources{
		width:46%;
		float:right;
	}
	nav ul, #zen-resources ul{
		padding: 0;
	}
	#design-selection ul, #design-archives ul, 
	#zen-resources ul{
		padding-left: 3%;
	}
	#design-selection ul{
		margin-right: 2%;
	}
}

/* --- large taablets and normal desktops --- */

@media screen and (min-width: 660px){
	
	.page-wrapper{
		max-width: 1000px;
		margin: 0 auto;
	}
	#design-selection{
		width:30%;
		float:left;
	}
	#design-archives,
	#zen-resources{
		width:30%;
		float:right;
	}
	#zen-preamble{
		width:50%;
		position: relative;
	}
	#zen-explanation{
		width: 70%;
	}
	
	#zen-participation{
		width: 60%;
		float:right;
	}
	#zen-benefits{
		width: 60%;
		background-color: rgba(241, 196, 15,0.3);
	}
	#zen-requirements{
		width: 70%;
		float:right;
	}
	footer::before{
		content: "";
  		display: table;
  		clear: both;
	}
	footer{
		background-color: rgba(39, 174, 96,0.4);
		font-weight: bolder;
	}
}

@media screen and (min-width: 750px){

	h1{
		font-size: 3.2em;
		color: rgba(255, 255, 255, 0.8);
	}
	header{
    	border-left: 300px solid rgba(211, 84, 0,0.5);
    	border-top: 300px solid rgba(211, 84, 0,0.2);
    	border-right: none;
    	margin-top: 0;
	}

/* ------------------ end  ------------------ */










