/*--- John McCutchan

/*--- Structure ---*/

.container{
	width:80%;
	margin: 0 auto;
}
.half{
	width:50%;
}
button{
	padding: 10px 20px;
}
h3{
	padding-left: 10px;
}
/*--- Structure END ---*/


/*--- Skin ---*/

body{
	font-family: arial;
}
button{
	background-color: rgba(44, 62, 80, 1);
	color:rgba(255, 255, 255, 1);
}

/*--- Skin END ---*/